<!--<h3>Bài thực hành sử dụng bootrap</h3>-->
<!--&lt;!&ndash;<app-product></app-product>&ndash;&gt;-->
<!--<h3>Bài tạp thực hành font-Size</h3>-->
<!--&lt;!&ndash;<app-font-size></app-font-size>&ndash;&gt;-->
<!--<h3>Bài tập thực hành Pet</h3>-->
<!--<app-pet></app-pet>-->
<!--<h3>Bài tập máy tính</h3>-->
<!--&lt;!&ndash;<app-caculator></app-caculator>&ndash;&gt;-->
<!--<h3>Bài tập color</h3>-->
<!--&lt;!&ndash;<app-color></app-color>&ndash;&gt;-->
<!--<h3>Bài thực hành 4</h3>-->
<!--<app-hackernew></app-hackernew>-->

<!--<app-customer></app-customer>-->
<p>Bài thực hành 5</p>
<!--<app-name-card cardName="Professional Dev" email="prodev@codegym.vn" phone='0123456789'></app-name-card>-->

<!--<p>Bài thực hành 5-2</p>-->
<!--<app-progress-bar [progress]="0"></app-progress-bar>-->
<!--<p>Bài tập 5-1</p>-->
<!--<app-angular-rating-bar start="20"></app-angular-rating-bar>-->
<p>Bài thực hành 6</p>
<!--<app-todo></app-todo>-->
<p>Bài form đăng ký</p>
<app-form-register></app-form-register>
